data/*
secret/*secret*
.env
mockups/sqlmesh_duckdb/.cache/*
mockups/sqlmesh_duckdb/logs/*
mockups/sqlmesh_duckdb/macros/__pycache__/*
mockups/sqlmesh_duckdb/models/*_model.sql
mockups/sqlmesh_duckdb/tests/test_full_model.yaml
mockups/sqlmesh_duckdb/audits/assert_positive_order_ids.sql
mockups/sqlmesh_duckdb/seeds/seed_data.csv
mockups/sqlmesh_duckdb/db.db
sqlmesh_bigquery/.cache/*
sqlmesh_bigquery/logs/*
sqlmesh_bigquery/macros/__pycache__/*
sqlmesh_bigquery/db.db
terraform.tf*
terraform/.terraform/*
terraform/.terraform*
sqlmesh_bigquery/db.db.wal
